1. Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (2.5 points)
2. Print all the teams which have started playing between 1930-1980. (5 points)
3. Print the list of teams which came Top 5 in terms of points (2.5 points)
4. Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same   function, find the team which has maximum and minimum goal difference. (5 points)
    Goal_diff_count = GoalsFor - GoalsAgainst

5. Create a new column with name “Winning Percent” and append it to the data set (5 points)
     Percentage of Winning = (GamesWon / GamesPlayed)*100
     If there are any numerical error, replace it with 0%
     Print the top 5 teams which has the highest Winning percentage

6. Group teams based on their “Best position” and print the sum of their points for all positions (5 points)
    Eg: Best Position                Points

        1                              25000

        2                              7000

In [1]:
import numpy as np
import pandas as pd

Q1. Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.

In [2]:
mydata = pd.read_csv('Laliga.csv')

In [3]:
mydata.replace('-','0',inplace =True)

In [4]:
mydata.columns = ['Pos','Team', 'Seasons', 'Points', 'GamesPlayed','GamesWon','GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion', 'Runnerup', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T', 'Debut', 'Since/LastApp', 'BestPosition']

In [5]:
mydata.set_index('Pos', inplace=True)

In [6]:
mydata.drop('Pos',inplace=True)

In [7]:
mydata.head()

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runnerup,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
Pos,,,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

Q2: Print all the teams which have started playing between 1930-1980. (5 points)

In [8]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, 1 to 61
Data columns (total 19 columns):
Team             61 non-null object
Seasons          61 non-null object
Points           61 non-null object
GamesPlayed      61 non-null object
GamesWon         61 non-null object
GamesDrawn       61 non-null object
GamesLost        61 non-null object
GoalsFor         61 non-null object
GoalsAgainst     61 non-null object
Champion         61 non-null object
Runnerup         61 non-null object
Third            61 non-null object
Fourth           61 non-null object
Fifth            61 non-null object
Sixth            61 non-null object
T                61 non-null object
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null object
dtypes: object(19)
memory usage: 9.5+ KB

In [9]:
mydata['Debut'] = mydata['Debut'].astype(str).str[:4].astype(int)
mydata['Since/LastApp'] = mydata['Since/LastApp'].astype(str).str[:4].astype(int)

In [10]:
mydata['Team'].astype(str)
mydata['Seasons'] = pd.to_numeric(mydata["Seasons"], errors = 'ignore')
mydata['Points'] = pd.to_numeric(mydata['Points'], errors='ignore')
mydata['GamesPlayed'] = pd.to_numeric(mydata["GamesPlayed"], errors = 'ignore')
mydata['GamesWon'] = pd.to_numeric(mydata['GamesWon'], errors='ignore')
mydata['GamesDrawn'] = pd.to_numeric(mydata["GamesDrawn"], errors = 'ignore')
mydata['GamesLost'] = pd.to_numeric(mydata['GamesLost'], errors='ignore')
mydata['GoalsFor'] = pd.to_numeric(mydata["GoalsFor"], errors = 'ignore')
mydata['GoalsAgainst'] = pd.to_numeric(mydata['GoalsAgainst'], errors='ignore')
mydata['Champion'] = pd.to_numeric(mydata["Champion"], errors = 'ignore')
mydata['Runnerup'] = pd.to_numeric(mydata['Runnerup'], errors='ignore')
mydata['Third'] = pd.to_numeric(mydata["Third"], errors = 'ignore')
mydata['Fourth'] = pd.to_numeric(mydata['Fourth'], errors='ignore')
mydata['Fifth'] = pd.to_numeric(mydata['Fifth'], errors='ignore')
mydata['Sixth'] = pd.to_numeric(mydata["Sixth"], errors = 'ignore')
mydata['T'] = pd.to_numeric(mydata['T'], errors='ignore')
mydata['Debut'] = pd.to_numeric(mydata["Debut"], errors = 'ignore')
mydata['Since/LastApp'] = pd.to_numeric(mydata['Since/LastApp'], errors='ignore')
mydata['BestPosition'] = pd.to_numeric(mydata['BestPosition'], errors='ignore')

In [11]:
mydata['Team'][(mydata['Debut']>1930) & (mydata['Debut']<1980)]

Pos
4                Valencia
6                 Sevilla
9                Zaragoza
10             Real Betis
11    Deportivo La Coruna
12             Celta Vigo
13             Valladolid
15         Sporting Gijon
16                Osasuna
17                 Malaga
18                 Oviedo
19               Mallorca
20             Las Palmas
22                Granada
23         Rayo Vallecano
24                  Elche
26               Hercules
27               Tenerife
28                 Murcia
30                Levante
31              Salamanca
32               Sabadell
33                  Cadiz
35              Castellon
38                Cordoba
40             Recreativo
41              Burgos CF
42             Pontevedra
47              Gimnastic
50               Alcoyano
51                   Jaen
53             AD Almeria
55                 Lleida
58                 Condal
59        Atletico Tetuan
60       Cultural Leonesa
Name: Team, dtype: object

Q3 Print the list of teams which came Top 5 in terms of points (2.5 points)

In [12]:
mydata.sort_values(by = 'Points', ascending=False, inplace =True)

In [13]:
mydata.head(5)

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runnerup,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
Pos,,,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002,1
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931,1987,1
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

Q4 Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (5 points) Goal_diff_count = GoalsFor - GoalsAgainst

In [14]:
def Goal_diff_count(x):
    x['Goalsdiff'] = x['GoalsFor'] - x['GoalsAgainst']
    return(x['Team'],x['Goalsdiff'])
    

Gdiff = pd.DataFrame(Goal_diff_count(mydata))
gdiff_data = Gdiff.T
print(gdiff_data.max(),gdiff_data.min())

Team         Zaragoza
Goalsdiff        2807
dtype: object Team         AD Almeria
Goalsdiff          -525
dtype: object

Q5 Create a new column with name “Winning Percent” and append it to the data set (5 points) Percentage of Winning = (GamesWon / GamesPlayed)*100 If there are any numerical error, replace it with 0% Print the top 5 teams which has the highest Winning percentage

In [15]:
def per_win(x):
    x['Per_of_win'] = (x['GamesWon']/x['GamesPlayed'])*100
    return(x.head())

per_win(mydata)
mydata.fillna(value=0)
mydata.head(5)

,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goalsdiff,Per_of_win
Pos,,,,,,,,,,,,,,,,,,,,,
1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,...,8,8,3,4,79,1929,1929,1,2807,59.630702
2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,...,12,12,4,6,83,1929,1929,1,2786,57.241130
3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,...,16,9,7,6,56,1929,2002,1,1225,47.475134
4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,...,10,11,10,7,50,1931,1987,1,929,44.557057
5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,...,10,5,8,10,49,1929,1929,1,931,43.772629

Q6 Group teams based on their “Best position” and print the sum of their points for all positions (5 points) Eg: Best Position Points

 1                              25000

 2                              7000

In [16]:
group_pts = mydata.groupby('BestPosition')
group_new = group_pts.sum()
group_new['Points']

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64